@media (max-width: 991px) {
  .navbar-nav > .language-menu .lang-menu a {
    color: #444 !important;
    background: transparent;
  }
  .navbar-nav > .language-menu .lang-menu a:hover {
    background: #f4f4f4 !important;
    text-decoration: none;
  }
}
.navbar-nav .language-menu .dropdown-menu {
  width: auto;
  padding: 0 0 0 0;
  margin: 0;
  top: 100%;
}
.navbar-nav .language-menu .dropdown-menu .lang-menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav .language-menu .dropdown-menu .lang-menu a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav .language-menu .dropdown-menu .lang-menu a:hover {
  background: #f4f4f4;
  text-decoration: none;
}
